RollBaseAcess/Tavisca.Model/Service References/EmployeeService/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53412/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53412/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53412/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tavisca.EmployeeManagement.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetRemarksById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemarksById" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetRemarksById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemarksByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/Get" message="tns:IEmployeeService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetResponse" message="tns:IEmployeeService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetAll" message="tns:IEmployeeService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetAllResponse" message="tns:IEmployeeService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemarksById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetRemarksById" message="tns:IEmployeeService_GetRemarksById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetRemarksByIdResponse" message="tns:IEmployeeService_GetRemarksById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="EmployeeService" />
</wsdl:definitions>