Rovia_1/Rovia_1/Service References/HotelEngine/HotelEngineView.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tavisca.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tavisca.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tavisca.com/Imports">
      <xsd:import schemaLocation="http://apis.rovia.com/Engines/HotelEngine/v1.0/HotelEngineView.svc?xsd=xsd0" namespace="http://tavisca.com" />
      <xsd:import schemaLocation="http://apis.rovia.com/Engines/HotelEngine/v1.0/HotelEngineView.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://apis.rovia.com/Engines/HotelEngine/v1.0/HotelEngineView.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://apis.rovia.com/Engines/HotelEngine/v1.0/HotelEngineView.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Tavisca.TravelNxt.Hotel.DataContracts" />
      <xsd:import schemaLocation="http://apis.rovia.com/Engines/HotelEngine/v1.0/HotelEngineView.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Tavisca.TravelNxt.Contracts.Entities" />
      <xsd:import schemaLocation="http://apis.rovia.com/Engines/HotelEngine/v1.0/HotelEngineView.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Tavisca.TravelNxt.Shared.Entities" />
      <xsd:import schemaLocation="http://apis.rovia.com/Engines/HotelEngine/v1.0/HotelEngineView.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Tavisca.TravelNxt.Hotel.Plugins.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HotelEngineView_HotelSearchView_InputMessage">
    <wsdl:part name="parameters" element="tns:HotelSearchView" />
  </wsdl:message>
  <wsdl:message name="HotelEngineView_HotelSearchView_OutputMessage">
    <wsdl:part name="parameters" element="tns:HotelSearchViewResponse" />
  </wsdl:message>
  <wsdl:message name="HotelEngineView_HotelRoomAvailByItineraryId_InputMessage">
    <wsdl:part name="parameters" element="tns:HotelRoomAvailByItineraryId" />
  </wsdl:message>
  <wsdl:message name="HotelEngineView_HotelRoomAvailByItineraryId_OutputMessage">
    <wsdl:part name="parameters" element="tns:HotelRoomAvailByItineraryIdResponse" />
  </wsdl:message>
  <wsdl:message name="HotelEngineView_GetHotelItineraryWithRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHotelItineraryWithRooms" />
  </wsdl:message>
  <wsdl:message name="HotelEngineView_GetHotelItineraryWithRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHotelItineraryWithRoomsResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelEngineView">
    <wsdl:operation name="HotelSearchView">
      <wsdl:input wsaw:Action="http://tavisca.com/HotelEngineView/HotelSearchView" message="tns:HotelEngineView_HotelSearchView_InputMessage" />
      <wsdl:output wsaw:Action="http://tavisca.com/HotelEngineView/HotelSearchViewResponse" message="tns:HotelEngineView_HotelSearchView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HotelRoomAvailByItineraryId">
      <wsdl:input wsaw:Action="http://tavisca.com/HotelEngineView/HotelRoomAvailByItineraryId" message="tns:HotelEngineView_HotelRoomAvailByItineraryId_InputMessage" />
      <wsdl:output wsaw:Action="http://tavisca.com/HotelEngineView/HotelRoomAvailByItineraryIdResponse" message="tns:HotelEngineView_HotelRoomAvailByItineraryId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHotelItineraryWithRooms">
      <wsdl:input wsaw:Action="http://tavisca.com/HotelEngineView/GetHotelItineraryWithRooms" message="tns:HotelEngineView_GetHotelItineraryWithRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tavisca.com/HotelEngineView/GetHotelItineraryWithRoomsResponse" message="tns:HotelEngineView_GetHotelItineraryWithRooms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>