RollBaseAcess/Tavisca.Model/Service References/EmployeeManagementService/EmployeeManagementService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53412/EmployeeManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tavisca.EmployeeManagement.DataContract" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tavisca.EmployeeManagement.DataContract" minOccurs="0" name="employee" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tavisca.EmployeeManagement.DataContract" minOccurs="0" name="CreateResult" nillable="true" type="q2:EmployeeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRemark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tavisca.EmployeeManagement.DataContract" minOccurs="0" name="remark" nillable="true" type="q3:Remark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRemarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tavisca.EmployeeManagement.DataContract" minOccurs="0" name="AddRemarkResult" nillable="true" type="q4:RemarkResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tavisca.EmployeeManagement.DataContract" minOccurs="0" name="credentials" nillable="true" type="q5:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tavisca.EmployeeManagement.DataContract" minOccurs="0" name="CheckCredentialsResult" nillable="true" type="q6:EmployeeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Tavisca.EmployeeManagement.DataContract" minOccurs="0" name="newCredentials" nillable="true" type="q7:CredentialModifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyCredentialsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>