RollBaseAcess/Tavisca.Model/Service References/EmployeeManagementService/EmployeeManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53412/EmployeeManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53412/EmployeeManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53412/EmployeeManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tavisca.EmployeeManagement.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeManagementService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManagementService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManagementService_AddRemark_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRemark" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManagementService_AddRemark_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRemarkResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManagementService_CheckCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCredentials" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManagementService_CheckCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManagementService_ModifyCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCredentials" />
  </wsdl:message>
  <wsdl:message name="IEmployeeManagementService_ModifyCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCredentialsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeManagementService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeManagementService/Create" message="tns:IEmployeeManagementService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeManagementService/CreateResponse" message="tns:IEmployeeManagementService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRemark">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeManagementService/AddRemark" message="tns:IEmployeeManagementService_AddRemark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeManagementService/AddRemarkResponse" message="tns:IEmployeeManagementService_AddRemark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeManagementService/CheckCredentials" message="tns:IEmployeeManagementService_CheckCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeManagementService/CheckCredentialsResponse" message="tns:IEmployeeManagementService_CheckCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeManagementService/ModifyCredentials" message="tns:IEmployeeManagementService_ModifyCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeManagementService/ModifyCredentialsResponse" message="tns:IEmployeeManagementService_ModifyCredentials_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="EmployeeManagementService" />
</wsdl:definitions>